@import url("https://fonts.googleapis.com/css?family=Lilita+One|Roboto&display=swap");
* { margin: 0; padding: 0; -webkit-box-sizing: border-box; box-sizing: border-box; }

.main-header { display: -webkit-box; display: -ms-flexbox; display: flex; background: #eaf0f1; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-flow: column; flex-flow: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 1rem; padding-bottom: 0.5rem; position: fixed; width: 100vw; z-index: 100; }

.main-header hr { width: 100vw; color: #dae0e2; height: 1px; }

.logo { margin-bottom: 0.5rem; }

.time-remaining-for-sale { display: -webkit-box; display: -ms-flexbox; display: flex; margin-top: 0.5rem; margin-right: 1rem; }

.time-remaining-for-sale img { margin-right: 2rem; }

.time-remaining__annotation { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-flow: column; flex-flow: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

.time-remaining__annotation span:first-of-type { font-family: sans-serif; font-size: 1rem; color: #e74292; }

.time-remaining { font-size: 2rem; color: #e74292; font-weight: bold; }

.locate-us { font-family: 'Lilita One', cursive; font-size: 2rem; background: #3498db; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 0.5rem 1rem; border-radius: 32px; -webkit-transition: 0.25s; transition: 0.25s; display: none; }

.locate-us a { vertical-align: middle; text-decoration: none; color: #fff; }

.locate-us:hover { background: #fff; cursor: pointer; }

.locate-us:hover a { color: #3498db; }

.hero-box { height: 100vh; padding-top: 130px; }

.hero-box img { -o-object-fit: cover; object-fit: cover; width: 100vw; max-width: 100%; height: 100%; }

#hero-box__left-arrow { position: absolute; top: 53%; left: 2%; cursor: pointer; }

#hero-box__left-arrow svg { width: 4rem; height: 4rem; color: #dae0e2; }

#hero-box__right-arrow { position: absolute; top: 53%; right: 2%; cursor: pointer; }

#hero-box__right-arrow svg { width: 4rem; height: 4rem; color: #dae0e2; }

.locate-us__mobile { font-family: 'Lilita One', cursive; font-size: 2rem; background: #3498db; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 0.5rem 1rem; position: fixed; width: 100vw; bottom: 0; -webkit-transition: 0.25s; transition: 0.25s; }

.locate-us__mobile a { vertical-align: middle; text-decoration: none; color: #fff; }

.menu-lists { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-flow: column; flex-flow: column; }

.menu-list-1, .menu-list-2 { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row; flex-flow: row; vertical-align: middle; }

.food, .shopping, .events, .entertainment { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; text-align: center; width: 50%; background: #2c3335; color: #fff; padding: 0.5rem; height: 3.5rem; font-size: 1.5rem; font-family: 'Roboto', sans-serif; cursor: pointer; }

.menu-lists .active { background: #dae0e2; color: #2c3335; }

#offer-section { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-flow: column; flex-flow: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-top: 3rem; }

.offer-section__annotation { font-size: 1.8rem; font-family: 'Roboto', sans-serif; }

.offer-section__annotation span { font-family: 'Lilita One', sans-serif; }

.development { height: 80px; }

@media (min-width: 40rem) { .main-header { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row; flex-flow: row; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: center; -ms-flex-align: center; align-items: center; padding: 1rem; }
  .main-header hr { display: none; }
  .logo { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; margin-bottom: 0; margin-left: 5rem; }
  .time-remaining-for-sale { margin: 0; margin-right: 5rem; }
  .locate-us { display: -webkit-box; display: -ms-flexbox; display: flex; margin-right: 5rem; }
  .locate-us__mobile { display: none; }
  .hero-box { padding-top: 80px; }
  .menu-lists { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-flow: row; flex-flow: row; }
  .menu-list-1, .menu-list-2 { width: 50%; }
  .food, .shopping, .events, .entertainment { width: 50%; }
  .offer-section__annotation { font-size: 3rem; } }

@media (min-width: 40rem) and (max-width: 60rem) { .logo { margin-left: 0; }
  .time-remaining-for-sale { margin-right: 2rem; }
  .time-remaining-for-sale img { margin-right: 1rem; }
  .locate-us { margin-right: 0; } }
