$primary-color: #E74292;
$primary-light: #EAF0F1;
$primary-dark: #2C3335;
$primary-blue: #3498DB;
$primary-brown: #707070;
$dark-light: #DAE0E2;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-header {
    display: flex;
    background: $primary-light;
    flex-flow: column;
    align-items: center;
    padding: 1rem;
    padding-bottom: 0.5rem;


    hr {
        width: 100vw;
        color: $dark-light;
        height: 1px;
    }
}

.logo {
    margin-bottom: 0.5rem;
}

.time-remaining-for-sale {
    display: flex;
    margin-top: 0.5rem;
    margin-right: 1rem;

    img {
        margin-right: 2rem;
    }
}

.time-remaining__annotation {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;

    span:first-of-type {
        font-family: sans-serif;
        font-size: 1rem;
        color: $primary-color;
    }
}

.time-remaining {
    font-size: 2rem;
    color: $primary-color;
    font-weight: bold;
}