@import url('https://fonts.googleapis.com/css?family=Lilita+One|Roboto&display=swap');

$primary-color: #e74292;
$primary-light: #eaf0f1;
$primary-dark: #2c3335;
$primary-blue: #3498db;
$primary-brown: #707070;
$dark-light: #dae0e2;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.main-header {
	display: flex;
	background: $primary-light;
	flex-flow: column;
	align-items: center;
	padding: 1rem;
	padding-bottom: 0.5rem;
	position: fixed;
	width: 100vw;
	z-index: 100;

	hr {
		width: 100vw;
		color: $dark-light;
		height: 1px;
	}
}

.logo {
	margin-bottom: 0.5rem;
}

.time-remaining-for-sale {
	display: flex;
	margin-top: 0.5rem;
	margin-right: 1rem;

	img {
		margin-right: 2rem;
	}
}

.time-remaining__annotation {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: space-between;

	span:first-of-type {
		font-family: sans-serif;
		font-size: 1rem;
		color: $primary-color;
	}
}

.time-remaining {
	font-size: 2rem;
	color: $primary-color;
	font-weight: bold;
}

.locate-us {
	font-family: 'Lilita One', cursive;
	font-size: 2rem;
	background: $primary-blue;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5rem 1rem;
	border-radius: 32px;

	a {
		vertical-align: middle;
		text-decoration: none;
		color: #fff;
	}

	transition: 0.25s;
	display: none;
}

.locate-us:hover {
	background: #fff;
	cursor: pointer;

	a {
		color: $primary-blue;
	}
}

.hero-box {
	height: 100vh;
	padding-top: 130px;

	img {
		object-fit: cover;
		width: 100vw;
		max-width: 100%;
		height: 100%;
	}
}

#hero-box__left-arrow {
	position: absolute;
	top: 53%;
	left: 2%;

	svg {
		width: 4rem;
		height: 4rem;
		color: $dark-light;
	}
	cursor: pointer;
}

#hero-box__right-arrow {
	position: absolute;
	top: 53%;
	right: 2%;

	svg {
		width: 4rem;
		height: 4rem;
		color: $dark-light;
	}
	cursor: pointer;
}

.locate-us__mobile {
	font-family: 'Lilita One', cursive;
	font-size: 2rem;
	background: $primary-blue;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5rem 1rem;
	position: fixed;
	width: 100vw;
	bottom: 0;

	a {
		vertical-align: middle;
		text-decoration: none;
		color: #fff;
	}

	transition: 0.25s;
}

.menu-lists {
	display: flex;
	flex-flow: column;
}

.menu-list-1,
.menu-list-2 {
	display: flex;
	flex-flow: row;
	vertical-align: middle;
}

.food,
.shopping,
.events,
.entertainment {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 50%;
	background: $primary-dark;
	color: #fff;
	padding: 0.5rem;
	height: 3.5rem;
	font-size: 1.5rem;
	font-family: 'Roboto', sans-serif;
	cursor: pointer;
}

.menu-lists .active {
	background: $dark-light;
	color: $primary-dark;
}

.offer-section {
	display: flex;
	flex-flow: column;
	align-items: center;
	margin-top: 4rem;
}

.shopping-content {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 2rem;
	align-items: center;
}

.shopping-content > * {
	width: 9rem;
}

.food-content {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 2rem;
}

.food-content > * {
	margin-top: 1rem;
	width: 8rem;
}

.event {
	width: 90vw;
	display: flex;
	flex-flow: column;
	align-items: center;
}

.event__annotation {
	font-size: 2rem;
	font-family: 'Roboto', sans-serif;
	color: black;
	text-align: center;
}

.event-content {
	overflow: hidden;
	margin-top: 1rem;
}

.event-content > * {
	width: 100%;
	margin-top: 1rem;
}

.Entertainment {
	width: 90vw;
	display: flex;
	flex-flow: column;
	align-items: center;
}

.entertainment__annotation {
	display: block;
	text-align: center;
	font-size: 2rem;
	font-family: 'Roboto', sans-serif;
	color: black;
}

.entertainment-content {
	overflow: hidden;
	margin-top: 1rem;
}

.entertainment-content > * {
	width: 100%;
	margin-top: 1rem;
}

// For Development Only
.development {
	height: 80px;
}

@media (min-width: 40rem) {
	.main-header {
		flex-flow: row;
		justify-content: space-between;
		align-items: center;
		padding: 1rem;

		hr {
			display: none;
		}
	}

	.logo {
		flex: 1;
		margin-bottom: 0;
		margin-left: 5rem;
	}

	.time-remaining-for-sale {
		margin: 0;
		margin-right: 5rem;
	}

	.locate-us {
		display: flex;
		margin-right: 5rem;
	}

	.locate-us__mobile {
		display: none;
	}

	.hero-box {
		padding-top: 80px;
	}

	.menu-lists {
		flex-flow: row;
	}

	.menu-list-1,
	.menu-list-2 {
		width: 50%;
	}

	.food,
	.shopping,
	.events,
	.entertainment {
		width: 50%;
	}

	.shopping-content {
		grid-column-gap: 20rem;
	}

	.shopping-content > * {
		width: 20rem;
	}

	.food-content {
		grid-column-gap: 20rem;
	}

	.food-content > * {
		width: 20rem;
	}

	.event__annotation {
		font-size: 4rem;
	}

	.event-content {
		display: grid;
		margin-top: 5rem;
		grid-template-columns: repeat(2, 40%);
		column-gap: 10%;
		justify-content: center;
		row-gap: 2rem;
	}

	.event-content > * {
		margin-top: 0;
		align-self: center;
	}

	.entertainment__annotation {
		font-size: 4rem;
	}

	.entertainment-content {
		display: grid;
		margin-top: 5rem;
		grid-template-columns: repeat(2, 40%);
		column-gap: 10%;
		justify-content: center;
		row-gap: 2rem;
	}

	.entertainment-content > * {
		margin-top: 0;
		align-self: center;
	}
}

@media (min-width: 40rem) and (max-width: 60rem) {
	.logo {
		margin-left: 0;
	}

	.time-remaining-for-sale {
		margin-right: 2rem;

		img {
			margin-right: 1rem;
		}
	}

	.locate-us {
		margin-right: 0;
	}

	.shopping-content {
		grid-column-gap: 8rem;
	}

	.shopping-content > * {
		width: 15rem;
	}

	.food-content {
		grid-column-gap: 8rem;
	}

	.food-content > * {
		width: 15rem;
	}

	.event__annotation {
		font-size: 3rem;
	}

	.entertainment__annotation {
		font-size: 3rem;
	}
}
